<div class="smaller-container bg-white shadow-sm rounded p-3">
  <h1 class="text-center">Add New List</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
